.visual-querying-outer-wrapper {
  /**
   * TODO:mfranke93: this is a bit fudged
   *
   * Since I cannot influence the styling of the <main> directly from this one
   * component, I cannot make the entire page being *exactly* 100vh high. So,
   * the 5rem are an approximation of what the header takes away, which works
   * for me right now. In future, this should be revisited.
   *
   */
  height: calc(100vh - 5rem);
  padding: 0;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.visual-querying-inner-wrapper {
  display: grid;
}

.search-button {
  justify-self: start;
}

.leaflet-constraint-wrapper {
  width: 100%;
  height: 100%;
}
