.visual-querying-outer-wrapper {
  /**
   * TODO:mfranke93: this is a bit fudged
   *
   * Since I cannot influence the styling of the <main> directly from this one
   * component, I cannot make the entire page being *exactly* 100vh high. So,
   * the 5rem are an approximation of what the header takes away, which works
   * for me right now. In future, this should be revisited.
   *
   */
  height: calc(100vh - 5rem);
  width: 100vw;
  padding: 0;
  display: grid;
  grid-template-rows: max-content 1fr;
  background-color: hsl(0deg 0% 100%);
}
