.button-area-button {
	display: flex;
	float: right;
	border: none;
	background: none;
	color: rgb(0 0 0);
	line-height: 25px;
	cursor: pointer;
}

.close-button:hover {
	color: rgb(255 0 0);
	font-weight: 700;
}

.header-area {
	position: relative;
	width: 100%;
	height: 25px;
	background-color: rgb(245 245 245 / 96.1%);
	box-shadow: 0 0 8px rgb(136 136 136);
	line-height: 25px;
	cursor: grabbing;
}

.content-area {
	overflow: scroll;
	width: 100%;
	height: calc(100% - 25px);
}
