:root {
  --gray: rgb(235 235 234);
  --light-green: rgb(189 238 45);
  --green: rgb(132 177 91);
  --dark-green: rgb(92 130 57);
  --light-blue: rgb(35 167 234);
  --blue: rgb(35 167 234);
  --red: rgb(199 51 54);
  --purple: rgb(120 66 163);
}
