*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;

  /* min-width: 0; */

  /* min-height: 0; */
}

:root {
  font-family: theme(fontFamily.sans);
  color: theme(colors.neutral.900);
  background-color: theme(colors.neutral.50);
}

html,
body,
#__next {
  block-size: 100%;
}
