*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
}

:root {
  font-family: theme(fontFamily.sans);
  color: theme(colors.neutral.900);
  background-color: theme(colors.neutral.50);
}

html,
body,
#__next {
  block-size: 100%;
}

.overview-table-row > * {
  padding: 2px;
}

.overview-table-row:hover > * {
  background-color: theme(colors.intavia-brand.100);
}
