*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
}

:root {
  font-family: theme(fontFamily.sans);
  color: theme(colors.neutral.900);
  background-color: theme(colors.neutral.50);
}

html,
body,
#__next {
  block-size: 100%;
}

.overview-table-row > * {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2px;
  padding-left: 2px;
}

.overview-table-row:hover > * {
  background-color: theme(colors.slate.100);
}

.image-gallery {
  width: 100%;
  height: auto;
}

.image-gallery-slide img {
  max-width: 100% !important;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
}

[contenteditable='true']:empty::before {
  content: attr(placeholder);
  display: block;
  color: #aaa;
}
