.story-editor-wrapper {
  width: 100%;
  height: 100%;
  border: solid 1px rgb(0, 0, 0);
}

.story-editor-pane {
  background: rgb(255, 255, 255) !important;
}

.slide-editor-wrapper {
  width: 100%;
  height: 100%;
  border: solid 1px rgb(0, 0, 0);
}

.elevated {
  overflow: hidden !important;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.card-content {
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
}

.annotation-window > .content-area {
  padding: 0 !important;
}

.annotation-window > .header-area {
  box-shadow: none !important;
}

.story-flow-card {
  cursor: pointer;
}

.story-flow-card.selected {
  border: 3px solid blue !important;
}
